@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap'); /*for logo*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Quintessential', cursive;
    font-weight: bold;
}
p {
    line-height: 2em;
}
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
nav a:hover {
    font-weight: bold;
    color: #B1D0E0;
}
nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}
nav {
    background-color: #1a374d;
    padding: 5px;
    position: sticky;
    top: 0;
    align-items: center;
    display: flex;
    padding: 0 5%;
    width: 100%;
    z-index: 1;
    justify-content: space-between;
    box-sizing: border-box;
}
header {
    display: inline;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1920px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
.profile img {
    width: 200px;
}
footer {
    padding: 20px;
    color: white;
    background-color: #1a374d;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0;
}
#Journal, #about-page {
    float: left;
    width: 75%;
}
main {
    padding: 20px;
    overflow: auto;
}
aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}
.profile header {
    text-align: center;
}
* {
    box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
    #Journal, #about-page,
    aside {
        width: 100%;
        padding: 0;
    }
}